<main class="addUser">
    <div class="nav">
        <p>
            <a href="./index.html">Home</a>/<a
                href="http://localhost:8080/edit?email={{email}}"
            >Edit User</a>
        </p>
    </div>
    <div class="form">
        <form
            action="http://localhost:8080/edit"
            id="edit"
            method="post"
            enctype="multipart/form-data"
        >
            <div class="input">
                <div class="name">
                    <input
                        placeholder="Enter Name"
                        name="firstName"
                        type="text"
                        id="firstName"
                        value="{{firstName}}"
                    />
                    <div class="error error-firstName"></div>
                    <input
                        placeholder="Enter Name"
                        name="lastName"
                        type="text"
                        id="lastName"
                        value="{{lastName}}"
                    />
                    <div class="error error-lastName"></div>
                </div>
                <div class="email">
                    <input
                        placeholder="Enter Email"
                        name="email"
                        type="email"
                        id="email"
                        value="{{email}}"
                    />
                    <input
                        id="oldEmail"
                        style="display: none;"
                        name="oldEmail"
                        type="email"
                        value="{{email}}"
                    />
                    <div class="error error-email"></div>
                </div>
            </div>
            <div class="image">
                <div
                    style="background-color: transparent;"
                    class="image-preview"
                >
                    <img
                        style="display: block;"
                        src="{{photo}}"
                        alt=""
                        id="image"
                    />
                    <span style="display: none;">Image Preview</span>
                </div>
                <!-- TODO: type check if the content uploaded  is an image in your javascript then preview it -->
                <input
                    type="file"
                    name="photo"
                    placeholder="Upload picture"
                    id="photo"
                />
                <div class="error error-image"></div>
            </div>
            <div class="textarea">
                <textarea
                    name="bio"
                    placeholder="Enter Bio"
                    id="bio"
                    cols="20"
                    rows="10"
                >{{bio}}</textarea>
                <div class="error error-bio"></div>
            </div>

            <div class="button">

                <button type="submit">
                    <i class="fas fa-circle-plus"></i>
                    Add User
                </button>

            </div>
        </form>
    </div>
</main>
<script defer src="/javascripts/form.js" defer></script>
<script defer src="/javascripts/form.edit.js" defer></script>