<main class="user">
    <div class="nav">
        <p>
            <a href="./index.html">Home</a>/
            <a href="./user.html">User</a>
        </p>
    </div>
    <div class="container">
        <div class="image">

            {{#if photo}}
                <img src="{{photo}}" alt="User Profile Image" />
            {{else}}
                <img
                    src="/images/pexels-pixabay-220453%20(1).jpg"
                    alt="User Profile Image"
                />
            {{/if}}

            {{! /////////////// }}
        </div>
        <div class="data">
            <div class="profile">
                <div class="biodata">
                    <label for="name">
                        Name
                        <p id="name">
                            {{lastName}}
                            {{firstName}}
                        </p>
                    </label><label for="mail">Email
                        <p id="email">{{email}}</p>
                    </label>
                </div>
                <div class="bio">
                    <label for="bio">Bio
                        <p id="bio">{{bio}}</p>
                    </label>
                </div>
                <div class="edit">
                    {{!  TODO: Check whether you can use a relative link }}
                    <a href="/edit?email={{email}}"><button type="button">
                            Edit
                            <i class="fas fa-edit"></i></button></a>
                </div>
            </div>
        </div>
    </div>
</main>